@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Hind:500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
/* line 1, ../sass/_global.scss */
html {
  font-size: 100%;
  font-family: 'Muli';
  background-color: black;
}

/* line 6, ../sass/_global.scss */
html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/_global.scss */
.container_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
/* line 22, ../sass/_global.scss */
.container_logo svg {
  width: 100px;
  opacity: 0.99;
  transition: .8s;
}

/* line 28, ../sass/_global.scss */
.container_navigation {
  height: 100vh;
  width: calc(100vw - 200px);
  position: fixed;
  top: 0;
  left: -100vw;
  background-color: #1d1d1b;
}
/* line 35, ../sass/_global.scss */
.container_navigation nav {
  position: absolute;
  bottom: 100px;
  left: 100px;
}
/* line 39, ../sass/_global.scss */
.container_navigation nav a {
  display: table-cell;
  text-decoration: none;
  color: #808080;
  font-variant: small-caps;
  font-weight: 800;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
  transition: .3s;
}
/* line 49, ../sass/_global.scss */
.container_navigation nav a:hover {
  color: white;
}
/* line 53, ../sass/_global.scss */
.container_navigation nav .active {
  color: white;
}
/* line 57, ../sass/_global.scss */
.container_navigation > a {
  position: absolute;
  left: 100px;
  top: 100px;
  color: #808080;
  transition: .3s;
}
/* line 63, ../sass/_global.scss */
.container_navigation > a:hover {
  color: white;
}
/* line 66, ../sass/_global.scss */
.container_navigation > a img {
  width: 50px;
}

/* line 71, ../sass/_global.scss */
.white-mode {
  background-color: white;
}
/* line 74, ../sass/_global.scss */
.white-mode nav .active {
  color: black;
}
/* line 77, ../sass/_global.scss */
.white-mode nav > a:hover {
  color: black;
}

/* line 82, ../sass/_global.scss */
.big-title {
  font-family: 'Archivo Black';
  margin: 0;
  color: white;
  opacity: .05;
  font-weight: 900;
  font-size: 20rem;
  position: absolute;
  right: -100px;
}

/* line 92, ../sass/_global.scss */
.container_page {
  width: 1080px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: 1s;
}
/* line 104, ../sass/_global.scss */
.container_page h1 {
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: 3.2rem;
  color: white;
  font-family: 'Hind';
  font-weight: 500;
  margin: 0;
}
/* line 114, ../sass/_global.scss */
.container_page .separator {
  border: 0;
  margin: 0;
  height: 25vh;
}
/* line 119, ../sass/_global.scss */
.container_page .row {
  display: flex;
  justify-content: space-between;
}
/* line 122, ../sass/_global.scss */
.container_page .row .over {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0;
  margin-bottom: 50px;
  display: table-cell;
  background: transparent;
  position: relative;
  padding: 0;
}
/* line 132, ../sass/_global.scss */
.container_page .row .over > span {
  display: inline-block;
  background: linear-gradient(90deg, #000 50%, #aaa 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 139, ../sass/_global.scss */
.container_page .row .over:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, white 50%, transparent 50%);
  z-index: -1;
}
/* line 149, ../sass/_global.scss */
.container_page .row .over > span, .container_page .row .over:after {
  background-size: 300%;
  background-position: 100%;
  transition: 1s;
}
/* line 154, ../sass/_global.scss */
.container_page .row .over-t > span, .container_page .row .over-t:after {
  background-position: 0%;
}
/* line 157, ../sass/_global.scss */
.container_page .row h3 {
  color: white;
  font-weight: 400;
}
/* line 161, ../sass/_global.scss */
.container_page .row .divided {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
/* line 166, ../sass/_global.scss */
.container_page .row .divided article {
  width: 100%;
  margin-bottom: 70px;
}
/* line 169, ../sass/_global.scss */
.container_page .row .divided article h2 {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0;
  margin-bottom: 50px;
  display: table-cell;
  color: #808080;
}
/* line 177, ../sass/_global.scss */
.container_page .row .divided article p {
  font-size: 1.4rem;
  columns: 2;
  column-gap: 90px;
  color: white;
  line-height: 2;
  font-weight: 600;
}
/* line 187, ../sass/_global.scss */
.container_page .row .col {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 192, ../sass/_global.scss */
.container_page .row .col article {
  margin-bottom: 60px;
  width: calc(50% - 30px);
}
/* line 195, ../sass/_global.scss */
.container_page .row .col article h2 {
  color: #aaa;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}
/* line 202, ../sass/_global.scss */
.container_page .row .col article h2 img {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}
/* line 209, ../sass/_global.scss */
.container_page .row .col article p {
  font-size: 1.2rem;
  text-align: left;
  color: #fff;
  line-height: 1.5;
}
/* line 215, ../sass/_global.scss */
.container_page .row .col article .read {
  color: #aaa;
  font-variant: small-caps;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}
/* line 221, ../sass/_global.scss */
.container_page .row .col article .read:hover {
  text-decoration: underline;
}
/* line 227, ../sass/_global.scss */
.container_page .row .tech {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 720px;
}
/* line 234, ../sass/_global.scss */
.container_page .row .tech .image-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: flex-start;
}
/* line 240, ../sass/_global.scss */
.container_page .row .tech .image-grid h4 {
  width: 120px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 2px;
}
/* line 253, ../sass/_global.scss */
.container_page .row .tech .image-grid h4 img {
  margin-bottom: 10px;
  height: 50px;
  width: 50px;
  object-fit: contain;
  opacity: .2;
  transition: .5s;
}
/* line 260, ../sass/_global.scss */
.container_page .row .tech .image-grid h4 img:hover {
  opacity: 1;
}

/* MULI */
/* line 8, ../sass/_animation.scss */
#green {
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  transform-origin: 50% 50%;
  animation-name: green;
}

/* line 13, ../sass/_animation.scss */
#orange {
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  transform-origin: 16.66% 16.66%;
  animation-name: orange;
  animation-delay: .1s;
}

/* line 19, ../sass/_animation.scss */
#purple {
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  transform-origin: 16.66% 50%;
  animation-name: purple;
  animation-delay: .2s;
}

/* line 25, ../sass/_animation.scss */
#pink {
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  transform-origin: 83.33% 83.33%;
  animation-name: pink;
  animation-delay: .3s;
}

/* line 31, ../sass/_animation.scss */
#yellow {
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  transform-origin: 16.66% 83.33%;
  animation-name: yellow;
  animation-delay: .4s;
}

/* line 37, ../sass/_animation.scss */
#red {
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  transform-origin: 83.33% 50%;
  animation-name: red;
  animation-delay: .5s;
}

/* line 43, ../sass/_animation.scss */
#blue {
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  transform-origin: 83.33% 16.66%;
  animation-name: blue;
  animation-delay: .6s;
}

@keyframes green {
  0% {
    transform: rotateX(0deg);
  }
  33% {
    transform: rotateX(-180deg);
  }
  66% {
    transform: rotateX(-180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes orange {
  0% {
    transform: rotateY(0deg);
  }
  33% {
    transform: rotateY(180deg);
  }
  66% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes purple {
  0% {
    transform: rotateX(0deg);
  }
  33% {
    transform: rotateX(180deg);
  }
  66% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes yellow {
  0% {
    transform: rotateY(0deg);
  }
  33% {
    transform: rotateY(-180deg);
  }
  66% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes pink {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(-33.33%, 0);
  }
  50% {
    transform: translate(-33.33%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes blue {
  0% {
    transform: rotateY(0deg);
  }
  33% {
    transform: rotateY(180deg);
  }
  66% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes red {
  0% {
    transform: rotateY(0deg);
  }
  33% {
    transform: rotateY(-180deg);
  }
  66% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
