html {
	font-size: 100%;
    font-family: 'Muli';
    background-color: black;
}
html, body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
.container_logo {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-color: black;
	svg {
		width: 100px;
		opacity: 0.99;
		transition: .8s;
	}
}
.container_navigation {
	height: 100vh;
	width: calc(100vw - 200px);
	position: fixed;
	top: 0;
	left: -100vw;
	background-color: #1d1d1b;
	nav {
		position: absolute;
		bottom: 100px;
		left: 100px;
		a {
			display: table-cell;
			text-decoration: none;
			color: #808080;
			font-variant: small-caps;
			font-weight: 800;
			font-size: 0.9rem;
			letter-spacing: 2px;
			margin-bottom: 20px;
			transition: .3s;
			&:hover {
				color: white;
			}
		}
		.active {
			color: white;
		}
	}
	> a {
		position: absolute;
		left: 100px;
		top: 100px;
		color: #808080;
		transition: .3s;
		&:hover {
			color: white;
		}
		img {
			width: 50px;
		}
	}
}
.big-text {
	position: absolute;
	color: #333;
	font-size: 15rem;
	font-family: 'Archivo black';
	z-index: -1;
	top: 50px;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	right: 0;
	margin: 0;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity .8s;
}
.white-mode {
	background-color: white;
	nav {
		.active {
			color: black;
		}
		> a:hover {
			color: black;
		}
	}
}
.clock {
	opacity: 0;
	position: absolute;
	bottom: 100px;
	right: 300px;
	transition: .5s;
	p {
		color: white;
		text-align: left;
		font-family: 'PT Sans';
		margin: 0;
		font-size: 1.1rem;
	}
	.caption {
		height: 30px;
		text-decoration: underline;
	}
}
.container_page {
	width: 1080px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	opacity: 0;
	transition: 1s;
	h1 {
		height: 100vh;
		display: flex;
		align-items: center;
		font-size: 3.6rem;
		color: white;
		font-family: 'Hind';
		font-weight: 500;
		margin: 0;
	}
	.separator {
		border: 0;
		margin: 0;
		height: 25vh;
	}
	.row {
		display: flex;
		justify-content: space-between;
		.over {
			font-weight: 600;
			font-size: 1.8rem;
			letter-spacing: 0;
			margin-bottom: 50px;
			display: table-cell;
			background: transparent;
			position: relative;
			padding: 0;
		}
		.over > span {
			display: inline-block;
			background: linear-gradient(90deg, #000 50%, #aaa 50%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.over:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(90deg, white 50%, transparent 50%);
			z-index: -1;
		}
		.over > span, .over:after {
			background-size: 300%;
			background-position: 100%;
			transition: 1s;
		}
		.over-t > span, .over-t:after {
			background-position: 0%;
		}
		h3 {
			color: white;
			font-weight: 400;
		}
		.divided {
			width: 100%;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			article {
                width: 100%;
				margin-bottom: 70px;
				h2 {
					font-weight: 600;
					font-size: 1.8rem;
					letter-spacing: 0;
					margin-bottom: 50px;
					display: table-cell;
					color: #808080;
				}
				p {
					font-size: 1.4rem;
					columns: 2;
                    column-gap: 90px;
                    color: white;
					line-height: 2;
					font-weight: 600;
				}
			}
		}
		.col {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
            justify-content: space-between;
            article {
				margin-bottom: 60px;
				width: calc(50% - 30px);
				h2 {
					color: #aaa;
					font-weight: 600;
					font-size: 1.2rem;
					letter-spacing: 2px;
					display: flex;
					align-items: center;
					img {
						margin-right: 15px;
						width: 30px;
						height: 30px;
						object-fit: contain;
					}
				}
				p {
					font-size: 1.2rem;
					text-align: left;
					color: #fff;
					line-height: 1.5;
				}
				.read {
					color: #aaa;
					font-variant: small-caps;
					font-size: 1rem;
					text-decoration: none;
					cursor: pointer;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}