html {
    font-size: 100%;
    font-family: 'Muli';
}
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.container_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: black;
    svg {
        width: 100px;
        opacity: 0.99;
        transition: .8s;
    }
}
.container_navigation {
    height: 100vh;
    width: 88vw;
    position: fixed;
    top: 0;
    left: -100vw;
    background-color: #1d1d1b;
    transition: 1s ease-in-out;
    nav {
        position: absolute;
        bottom: 100px;
        left: 100px;
        a {
            display: table-cell;
            text-decoration: none;
            color: white;
            font-variant: small-caps;
            font-weight: 800;
            font-size: 0.9rem;
            letter-spacing: 2px;
            margin-bottom: 20px;
            opacity: .5;
            transition: .3s;
            &:hover {
                opacity: 1;
            }
        }
        .active {
            opacity: 1;
        }
    }
    > a {
        position: absolute;
        left: 100px;
        top: 100px;
        opacity: .5;
        transition: .3s;
        &:hover {
            opacity: 1;
        }
        img {
            width: 40px;
            
        }
    }
}
.container_page {
    width: 55vw;
    position: absolute;
    left: 22vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: 1s;
    h1 {
        height: 100vh;
        display: flex;
        align-items: center;
        font-size: 2.6vw;
        color: white;
        font-family: 'PT Sans';
        font-weight: 400;
        margin: 0;
    }
    .row {
        display: flex;
        justify-content: space-between;
        .divided {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            article {
                width: 100%;
                p {
                    font-size: 1.5rem;
                    columns: 2;
                    column-gap: 50px;
                }
            }
        }
        .col {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        > div {
            article {
                margin-bottom: 60px;
                width: calc(50% - 30px);
                h2 {
                    color: #aaa;
                    font-weight: 500;
                    font-size: 1.2rem;
                    letter-spacing: 2px;
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 10px;
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                    }
                }
                p {
                    font-size: 1.2rem;
                    text-align: left;
                    color: #fff;
                    line-height: 1.5;
                    text-shadow: 0px 0px 5px #000;
                }
                a {
                    color: #aaa;
                    font-variant: small-caps;
                    font-size: 1rem;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}