html, body {
    overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-size: 100%;
    font-family: 'Muli';
    background-color: black;
    overflow-y: hidden;
}
strong {
    font-weight: 900;
}
#preloader {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 1;
    z-index: 1500;
    position: absolute;
    top: 0;
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    width: 200px;
    background: black;
    border: 1px solid #fff;
    overflow: hidden;
}
.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  
    max-width: 200px;
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: white;
} 
.pace.pace-inactive {
    display: none;
}

::-webkit-scrollbar
{
  width: 0;
}


.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    margin: auto;
    opacity: 0;
    width :34px;
    height: 55px;
    transition: .8s;
    z-index: 50;
  }
  .mousey {
    width: 3px;
    padding: 7px 12px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
.close {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    margin: 0;
    border-radius: 50px;
    height: 0;
    width: 0;
    padding: 20px 22px 22px 22px;
    position: absolute;
    z-index: 2;
    top: 30px;
    right: 30px;
    opacity: 0;
    transition: .8s;
    cursor: pointer;
    p {
        color: white;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 2;
        font-family: 'Comfortaa', 'cursive';
    }
}
.row.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
    article {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        h2 {
            span {
                position: relative;
                margin: 0;
                line-height: 1;
                text-transform: uppercase;
                font-weight: 800;
                color: #808080;
                letter-spacing: 1px;
                font-size: 1.2rem;
                font-family: 'Hind';
                -webkit-text-stroke-width: 0;
                right: 10px;
                top: 6px;
            }
            display: flex;
            font-family: 'Bebas';
            font-size: 8rem;
            font-weight: 400;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: white;
            color: transparent;
            position: absolute;
            text-transform: uppercase;
            margin: 0;
            line-height: .9;
            max-width: 500px;
            margin-top: 150px;
            letter-spacing: 8px;
            left: 22vw;
            z-index: 1;
            pointer-events: none;
        }
        video {
            height: 650px;
            width: 650px;
            max-width: 1280px;
            border-radius: 65px;
            object-fit: cover;
            transition: .8s;
            filter: grayscale(100%);
            cursor: pointer;
        }
        h3 {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            margin: 0;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 400;
            color: #808080;
            letter-spacing: 1px;
            font-size: 1rem;
            position: relative;
        }
        .left {
            margin-right: 15px;
            margin-bottom: 70px;
            bottom: 0;
            text-align: right;
            align-self: flex-end;
        }
        .right {
            margin-left: 15px;
            margin-top: 70px;
        }
    }
    .hidden {
        display: none;
    }
}
.details {
    display: none;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 15px;
}
.report {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    section {
        width: 100%;
        hr {
            border: 0;
            height: 40px;
            width: 100%;
        }
        h2 {
            color: #808080;
            font-size: 1rem;
            margin-bottom: 20px;
            font-weight: 400;
        }
        h3 {
            font-size: 1.1rem;
            font-family: 'Hind';
            text-transform: uppercase;
            font-style: italic;
            line-height: 1;
            margin: 0;
            color: white;
            margin-bottom: 15px;
        }
        h4 {
            line-height: 1.5;
            margin: 0;
            font-size: 1rem;
            color: white;
            font-style: italic;
            padding-bottom: 12px;
            span {
                font-weight: 400;
                font-size: 1rem;
                margin-left: 10px;
            }
        }
        .caption {
            text-align: right;
            font-style: italic;
            font-size: .8rem;
            color: #808080;
        }
        img {
            width: 100%;
        }
        .music {
            display: flex;
            align-items: center;
            line-height: 1;
            margin-bottom: 15px;
            img {
                position: relative;
                top: 2px;
                margin-left: 11px;
                cursor: pointer;
                width: 10px;
            }
        }
        .role {
            padding-top: 12px;
            border-bottom: 1px solid white;
        }
        p, li {
            line-height: 1.5;
            margin: 0;
            font-size: 1rem;
            color: white;
        }
        ol {
            li {
                line-height: 1.5;
            }
        }
        .clapperboard {
            display: flex;
            div {
                border-top: solid white 1px;
                border-bottom: solid white 1px;
                border-right: solid white 1px;
                padding: 15px;
                width: 100%;
                &:nth-child(3) {
                    border-right: none;
                }
                text-align: center;
                p {
                    line-height: 1;
                    font-size: 2rem;
                    font-family: 'Oswald', sans-serif;
                    font-weight: 500;
                    letter-spacing: 1px;
                }
            }
        }
    }
    .col-2 {
        width: calc(50% - 30px);
    }
}