.container_page {
    display: flex;
	justify-content: center;
	flex-direction: column;
	width: 1080px;
    position: absolute;
    z-index: 1;
	left: 0;
	right: 0;
	margin: 0 auto;
	opacity: 0;
	transition: 1s;
	h1 {
		height: 100vh;
		display: flex;
		align-items: center;
		font-size: 3.6rem;
		color: white;
		font-family: 'Hind';
		font-weight: 500;
		margin: 0;
	}
	.row {
        width: 100%;
    }
    .row.projects {

        article {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            h2 {
                span {
                    position: relative;
                    margin: 0;
                    line-height: 1;
                    text-transform: uppercase;
                    font-weight: 800;
                    color: #808080;
                    letter-spacing: 1px;
                    font-size: 1.2rem;
                    font-family: 'Hind';
                    -webkit-text-stroke-width: 0;
                    right: 10px;
                    top: 6px;
                }
                display: flex;
                font-family: 'Bebas';
                font-size: 10rem;
                font-weight: 400;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: white;
                color: transparent;
                position: absolute;
                text-transform: uppercase;
                margin: 0;
                line-height: .9;
                left: 50px;
                width: 500px;
                margin-top: 150px;
                letter-spacing: 8px;
            }
            video {
                height: 67vh;
                width: 67vh;
                border-radius: 60px;
                object-fit: cover;
            }
            h3 {
                writing-mode: vertical-rl;
                text-orientation: mixed;
                margin: 0;
                line-height: 1;
                text-transform: uppercase;
                font-weight: 700;
                color: #808080;
                letter-spacing: 1px;
                font-size: 1rem;
                margin-left: 15px;
                margin-top: 60px;
            }
        }
        .hidden {
            display: none;
        }
    }
	.row.footer {
        display: flex;
		justify-content: flex-end;
		align-items: flex-end;
        flex-direction: column;
        height: 100vh;
		margin-bottom: 120px;
		p {
			margin: 0 0 10px 0;
			color: grey;
			text-align: right;
			text-transform: initial;
			font-size: 1.1rem;
			font-weight: 600;
			&:first-child {
				font-size: 1.2rem;
				margin: 0 0 40px 0;
				color: white;
				text-transform: uppercase;
			}
		}
	}
}