/* line 1, ../scss/_header.scss */
#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  width: 100vw;
  background-color: #000;
  top: 0;
  z-index: 10;
  padding: 30px 0;
}
@media screen and (max-width: 768px) {
  /* line 1, ../scss/_header.scss */
  #menu {
    padding: 30px 5%;
  }
}
@media screen and (max-width: 600px) {
  /* line 1, ../scss/_header.scss */
  #menu {
    padding: 30px 20px;
  }
}
/* line 18, ../scss/_header.scss */
#menu span {
  display: none;
  color: #ff00ff;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  /* line 18, ../scss/_header.scss */
  #menu span {
    display: inherit;
  }
}
/* line 26, ../scss/_header.scss */
#menu .show-menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  /* line 26, ../scss/_header.scss */
  #menu .show-menu {
    display: flex;
    justify-content: right;
    max-width: 30px;
  }
  /* line 34, ../scss/_header.scss */
  #menu .show-menu img {
    width: 100%;
    height: auto;
    align-self: center;
  }
}
/* line 41, ../scss/_header.scss */
#menu #menu-burger {
  display: none;
}
@media screen and (max-width: 768px) {
  /* line 44, ../scss/_header.scss */
  #menu #menu-burger:checked ~ nav {
    display: flex;
    flex-direction: column;
    animation: menuShow 0.5s normal;
  }
}
/* line 51, ../scss/_header.scss */
#menu nav {
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  /* line 51, ../scss/_header.scss */
  #menu nav {
    position: absolute;
    z-index: 5;
    display: none;
    align-items: center;
    right: 0;
    top: 12vh;
    width: 100%;
    height: 88vh;
    background-color: #090909;
  }
}
/* line 69, ../scss/_header.scss */
#menu nav a {
  display: table-cell;
  color: #bbb;
  font-family: inherit;
  font-size: 20px;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  /* line 69, ../scss/_header.scss */
  #menu nav a {
    font-size: 2rem;
    margin: 0 0 20px 0;
  }
}
/* line 79, ../scss/_header.scss */
#menu nav a .underline {
  width: 0%;
  height: 2px;
  background-color: #ff00ff;
  transition: 0.4s;
}
/* line 84, ../scss/_header.scss */
#menu nav a .underline.active {
  width: 100%;
}
/* line 88, ../scss/_header.scss */
#menu nav a:hover .underline {
  width: 100%;
}
/* line 92, ../scss/_header.scss */
#menu nav img {
  width: 15px;
  margin-right: 100px;
  position: relative;
  bottom: 5px;
}
@media screen and (max-width: 768px) {
  /* line 92, ../scss/_header.scss */
  #menu nav img {
    margin-right: 0;
    width: 25px;
  }
}
/* line 102, ../scss/_header.scss */
#menu nav input {
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #ff00ff;
  color: white;
  font-size: 17px;
  font-family: inherit;
  width: 240px;
  padding-right: 30px;
}
@media screen and (max-width: 768px) {
  /* line 102, ../scss/_header.scss */
  #menu nav input {
    margin-top: 100px;
    padding-right: 0;
    font-size: 1.25rem;
    text-align: center;
  }
}
/* line 117, ../scss/_header.scss */
#menu nav input:focus {
  outline: 0;
}
/* line 120, ../scss/_header.scss */
#menu nav input::placeholder {
  color: #bbb;
}
/* line 124, ../scss/_header.scss */
#menu nav p {
  font-size: 17px;
  font-family: inherit;
  text-transform: uppercase;
  color: #bbb;
  border-bottom: solid 2px #ff00ff;
  padding-bottom: 2px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  /* line 124, ../scss/_header.scss */
  #menu nav p {
    margin-top: 20px;
    color: #ff00ff;
    border: none;
    font-size: 1.25rem;
  }
}

/* Animation du menu */
@keyframes menuShow {
  0% {
    right: -700px;
  }
  100% {
    right: 0;
  }
}
/* line 1, ../scss/_footer.scss */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: #090909;
  color: #bbb;
  font-size: 18px;
  font-family: "Blender Pro Book";
}
/* line 11, ../scss/_footer.scss */
footer .flags {
  display: flex;
}
/* line 13, ../scss/_footer.scss */
footer .flags #french {
  margin-right: 10px;
}
/* line 16, ../scss/_footer.scss */
footer .flags #english {
  margin-left: 10px;
}
/* line 19, ../scss/_footer.scss */
footer .flags .disabled {
  opacity: 0.5;
}
/* line 22, ../scss/_footer.scss */
footer .flags img {
  width: 50px;
  height: auto;
}
/* line 27, ../scss/_footer.scss */
footer .footer-info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
/* line 31, ../scss/_footer.scss */
footer .footer-info a, footer .footer-info p {
  color: inherit;
}

/* line 5, ../scss/achat.scss */
body {
  font-family: "Blender Pro Book", monospace;
  background-color: #000000;
}

/* line 10, ../scss/achat.scss */
p {
  line-height: 1.5;
  color: #ffffff;
}

/* line 15, ../scss/achat.scss */
.d-none {
  display: none !important;
}

/* line 19, ../scss/achat.scss */
.container {
  padding: 100px 10%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.95)), url("../img/texture_cyan.png");
}
@media screen and (max-width: 1280px) {
  /* line 19, ../scss/achat.scss */
  .container {
    padding: 100px 5%;
  }
}
@media screen and (max-width: 960px) {
  /* line 19, ../scss/achat.scss */
  .container {
    padding: 75px 5%;
  }
}
@media screen and (max-width: 600px) {
  /* line 19, ../scss/achat.scss */
  .container {
    padding: 50px 20px;
  }
}

/* line 33, ../scss/achat.scss */
.intro {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 600px) {
  /* line 33, ../scss/achat.scss */
  .intro {
    width: 100%;
  }
}
/* line 40, ../scss/achat.scss */
.intro h1 {
  font-size: 3rem;
  color: cyan;
}
/* line 44, ../scss/achat.scss */
.intro p {
  font-size: 1.5rem;
  margin-top: 20px;
}

/* Page d'achat */
/* line 52, ../scss/achat.scss */
.intro-achat {
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.95)), url("../img/texture_cyan.png");
}
@media screen and (max-width: 960px) {
  /* line 52, ../scss/achat.scss */
  .intro-achat {
    padding: 75px 5%;
  }
}
@media screen and (max-width: 600px) {
  /* line 52, ../scss/achat.scss */
  .intro-achat {
    padding: 50px 20px;
  }
}
/* line 64, ../scss/achat.scss */
.intro-achat h1 {
  font-size: 3rem;
  color: cyan;
}
/* line 68, ../scss/achat.scss */
.intro-achat p {
  font-size: 1.5rem;
  margin-top: 20px;
}

/* line 74, ../scss/achat.scss */
.product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 10%;
  background-image: url(../img/neotokyo.jpg);
  background-size: cover;
}
@media screen and (max-width: 1280px) {
  /* line 74, ../scss/achat.scss */
  .product {
    padding: 100px 5%;
  }
}
@media screen and (max-width: 960px) {
  /* line 74, ../scss/achat.scss */
  .product {
    padding: 75px 5%;
  }
}
@media screen and (max-width: 768px) {
  /* line 74, ../scss/achat.scss */
  .product {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  /* line 74, ../scss/achat.scss */
  .product {
    padding: 75px 20px;
  }
}
/* line 93, ../scss/achat.scss */
.product .photos {
  display: flex;
  width: 47.5%;
}
@media screen and (max-width: 1280px) {
  /* line 93, ../scss/achat.scss */
  .product .photos {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 768px) {
  /* line 93, ../scss/achat.scss */
  .product .photos {
    width: 100%;
  }
}
/* line 102, ../scss/achat.scss */
.product .photos .thumbs {
  margin-right: 5%;
}
@media screen and (max-width: 1280px) {
  /* line 102, ../scss/achat.scss */
  .product .photos .thumbs {
    display: flex;
    margin-top: 50px;
    align-self: center;
  }
}
/* line 109, ../scss/achat.scss */
.product .photos .thumbs .thumb {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
/* line 118, ../scss/achat.scss */
.product .photos .thumbs .thumb:last-child {
  margin-bottom: 0;
}
/* line 121, ../scss/achat.scss */
.product .photos .thumbs .thumb.active {
  border: solid 1px #00f9ff;
}
/* line 124, ../scss/achat.scss */
.product .photos .thumbs .thumb img {
  width: 80%;
  height: auto;
}
/* line 130, ../scss/achat.scss */
.product .photos .big {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/* line 134, ../scss/achat.scss */
.product .photos .big img {
  width: 100%;
  height: auto;
}
/* line 140, ../scss/achat.scss */
.product .order {
  width: 50%;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 768px) {
  /* line 140, ../scss/achat.scss */
  .product .order {
    width: 100%;
    margin-top: 50px;
    padding: 30px;
  }
}
/* line 149, ../scss/achat.scss */
.product .order h2 {
  font-size: 2rem;
  color: cyan;
  margin-bottom: 10px;
}
/* line 154, ../scss/achat.scss */
.product .order span {
  font-size: 1.2rem;
  color: #ffffff;
}
/* line 158, ../scss/achat.scss */
.product .order .buy {
  margin: 40px 0;
}
/* line 160, ../scss/achat.scss */
.product .order .buy a {
  color: #000;
  background-color: cyan;
  font-size: 1.2rem;
  padding: 12px 15px;
}
/* line 167, ../scss/achat.scss */
.product .order p {
  font-size: 1.2rem;
}

/* line 173, ../scss/achat.scss */
.infos {
  background-color: #222;
  padding: 100px 10%;
}
@media screen and (max-width: 1280px) {
  /* line 173, ../scss/achat.scss */
  .infos {
    padding: 100px 5%;
  }
}
@media screen and (max-width: 960px) {
  /* line 173, ../scss/achat.scss */
  .infos {
    padding: 75px 5%;
  }
}
@media screen and (max-width: 600px) {
  /* line 173, ../scss/achat.scss */
  .infos {
    padding: 75px 20px;
  }
}
/* line 185, ../scss/achat.scss */
.infos .zone {
  display: flex;
}
/* line 187, ../scss/achat.scss */
.infos .zone .text {
  width: 50%;
}
@media screen and (max-width: 768px) {
  /* line 187, ../scss/achat.scss */
  .infos .zone .text {
    width: 100%;
  }
}
/* line 192, ../scss/achat.scss */
.infos .zone .text h2 {
  font-size: 2rem;
  color: cyan;
  margin-bottom: 30px;
}
/* line 197, ../scss/achat.scss */
.infos .zone .text p {
  font-size: 1.2rem;
}
/* line 201, ../scss/achat.scss */
.infos .zone .img {
  width: 50%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  /* line 201, ../scss/achat.scss */
  .infos .zone .img {
    width: 100%;
    margin-top: 50px;
  }
}
/* line 209, ../scss/achat.scss */
.infos .zone .img img {
  width: 80%;
  height: auto;
}
@media screen and (max-width: 768px) {
  /* line 209, ../scss/achat.scss */
  .infos .zone .img img {
    width: 100%;
  }
}
/* line 218, ../scss/achat.scss */
.infos hr {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
/* line 223, ../scss/achat.scss */
.infos .description {
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  /* line 223, ../scss/achat.scss */
  .infos .description {
    flex-direction: column;
    margin-bottom: 75px;
  }
}
/* line 229, ../scss/achat.scss */
.infos .description .img {
  justify-content: right;
}
/* line 233, ../scss/achat.scss */
.infos .rules {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  /* line 233, ../scss/achat.scss */
  .infos .rules {
    flex-direction: column-reverse;
    margin-top: 75px;
  }
}
/* line 239, ../scss/achat.scss */
.infos .rules .img {
  justify-content: left;
}

/* Panier */
/* line 247, ../scss/achat.scss */
.cart {
  margin-top: 100px;
}
@media screen and (max-width: 960px) {
  /* line 247, ../scss/achat.scss */
  .cart {
    margin-top: 75px;
  }
}
@media screen and (max-width: 600px) {
  /* line 247, ../scss/achat.scss */
  .cart {
    margin-top: 50px;
  }
}
/* line 255, ../scss/achat.scss */
.cart table {
  border: solid 1px #00f9ff;
  width: 100%;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  /* line 259, ../scss/achat.scss */
  .cart table .image {
    display: none;
  }
}
/* line 264, ../scss/achat.scss */
.cart table thead {
  background-color: #00f9ff;
  color: #000000;
}
/* line 267, ../scss/achat.scss */
.cart table thead th {
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 768px) {
  /* line 267, ../scss/achat.scss */
  .cart table thead th {
    padding: 20px 10px;
  }
}
/* line 277, ../scss/achat.scss */
.cart table tbody {
  background-color: #111;
}
/* line 279, ../scss/achat.scss */
.cart table tbody td {
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  /* line 279, ../scss/achat.scss */
  .cart table tbody td {
    padding: 20px 10px;
  }
}
/* line 286, ../scss/achat.scss */
.cart table tbody td input {
  width: 30px;
  height: 30px;
  text-align: center;
  background: none;
  color: #ffffff;
  font-family: inherit;
  border: solid 1px #00f9ff;
}
/* line 295, ../scss/achat.scss */
.cart table tbody td button {
  border: none;
  background: none;
  color: #00f9ff;
  font-size: 1.5rem;
  font-family: inherit;
  cursor: pointer;
}
/* line 304, ../scss/achat.scss */
.cart table tbody .image {
  max-width: 130px;
}
/* line 306, ../scss/achat.scss */
.cart table tbody .image img {
  width: 100%;
  height: auto;
}

/* line 315, ../scss/achat.scss */
.check {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  /* line 315, ../scss/achat.scss */
  .check {
    flex-direction: column;
  }
}
/* line 322, ../scss/achat.scss */
.check .notes {
  display: flex;
  flex-direction: column;
  width: 40%;
}
@media screen and (max-width: 768px) {
  /* line 322, ../scss/achat.scss */
  .check .notes {
    width: 100%;
    flex-direction: column-reverse;
  }
}
/* line 330, ../scss/achat.scss */
.check .notes h2 {
  color: #ffffff;
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  /* line 330, ../scss/achat.scss */
  .check .notes h2 {
    margin-top: 50px;
  }
}
/* line 337, ../scss/achat.scss */
.check .notes textarea {
  margin: 10px 0 50px 0;
  padding: 10px;
  width: 100%;
  border: solid 1px #00f9ff;
  background: #111;
  color: #ffffff;
  font-family: inherit;
}
@media screen and (max-width: 768px) {
  /* line 337, ../scss/achat.scss */
  .check .notes textarea {
    margin: 20px 0 0 0;
  }
}
/* line 349, ../scss/achat.scss */
.check .notes a {
  color: #000;
  background-color: #00f9ff;
  font-size: 1.2rem;
  padding: 12px 15px;
  transition: .3s ease-in-out;
}
/* line 355, ../scss/achat.scss */
.check .notes a:hover {
  color: #00f9ff;
  background: none;
}
/* line 361, ../scss/achat.scss */
.check .checkout {
  text-align: right;
}
@media screen and (max-width: 768px) {
  /* line 361, ../scss/achat.scss */
  .check .checkout {
    margin-top: 50px;
  }
}
/* line 366, ../scss/achat.scss */
.check .checkout h2 {
  color: #ffffff;
  font-size: 1.5rem;
}
/* line 370, ../scss/achat.scss */
.check .checkout button {
  margin-top: 30px;
  color: #000;
  background-color: cyan;
  font-size: 1.2rem;
  padding: 12px 15px;
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: .3s ease-in-out;
}
/* line 380, ../scss/achat.scss */
.check .checkout button:last-child {
  margin-left: 5px;
}
/* line 383, ../scss/achat.scss */
.check .checkout button:hover {
  color: #00f9ff;
  background: none;
}
